@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <h2>It will be a perfect birthday party!</h2>
    <h3>You're invited too!</h3>
    @Html.ActionLink("Are you coming?", "InvitationForm", null, new { @class = "btn btn-primary" });
</div>
